[user]
	name = Yorick Poels
	email = yorick.poels@kuleuven.be
	signingkey = 91646595

[commit]
	gpgsign = true

[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore

[push]
	default = matching

[branch]
	autosetuprebase = always

[merge]
	ff = true

[rebase]
	autoStash = true

[color]
	ui = auto

[alias]
	a = add .
	br = branch
	ca = commit -a
	ci = commit -v
	cis = commit -v -S
	clo = clone
	co = checkout
	dh = diff HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	log = log -M --decorate --graph --oneline
	pl = pull
	ps = push
	pur = pull --rebase
	rc = rebase --continue
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	st = status
	sth = stash

[github]
	user = yorickps
